wrapt==2.1.2

torch==2.10.0

transformers==4.57.5
tokenizers==0.22.1
datasets==2.21.0
accelerate==1.14.0
deepspeed==0.18.2
peft==0.17.1

huggingface-hub==0.36.0

protobuf==6.33.0
sentencepiece==0.2.1
scipy==1.16.2
evaluate==0.4.6
tqdm==4.67.1

mpi4py==4.1.2
seqeval==1.2.2
tensorboard==2.20.0